.maindiv{
    margin-top: 20%;
   margin-left: 10%;
   margin-right: 10%;
   /* width: auto; */
}
.content{
   padding: 5px 0px 5px 0px;

}
.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.bg2{
    background-color: beige;
    }
    .maindeowercontainerreal {
        width: 272px !important;
        height: 100vh !important;
        background-color: brown;
    }
    @media only screen and (max-width: 1920px) {

        .maindeowercontainerreal { 
            height: 100vh !important; 
        }
     
     }
     @media screen and (max-width: 767px){
     .maindeowercontainerreal {
         height: 100% !important;
         width: 109px !important;
     }
    }
      /* @media screen and (max-width: 399px) {
        .maindeowercontainerreal{
        height: 100% !important;
           width: 109px !important;
           }
         } */
    .ham {
        margin: 15px 15px 0 auto !important;
        display: flex;
        color: #fff;
       font-size: 24px;
    }
    .back2{
        /* background-color: #c5adada3; */
        width: 81%;
        height: 45%;
        border-radius: 7%;
        display: flex;
        align-items: center;
        padding-left: 5%;
        justify-content: space-between;
        padding-right: 5%;
        transition: 0.5s;
    }
    .tit {
        color: white;
        text-transform: capitalize;
        font-weight: 800;

    }
    .back {
        /* background-color: #c5adada3; */
        width: 81%;
        height: 45%;
        border-radius: 0% !important;
        display: flex;
        align-items: center;
        padding-left: 5%;
        justify-content: space-between;
        padding-right: 5%;
    }
    .expand {
        color: #fff;
        margin-top: 16px;
        font-size: 25px;
    }
    .cent2 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 126px; */
       
    }
    .backkk{
        background-color: #bb4122;
        transition: all .3s ease-in-out;
        height: 200px;
        min-height: 200px;
        position: absolute;
    
    }
    .ba.tit {
        margin-top: 15px;
     }
     .ba{
        width: 72%;
        flex-direction: column;
        margin-top: -27
     }
     .back33{
        margin-top: 66px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: -87px;
     }
     /* @media screen and (max-width: 870px) {
        .tit {
            font-size: 1.3em !important;
        }
    }
    @media screen and (max-width: 476px) {
        .tit {
            font-size: 1.1em !important;
        }
    }
    @media screen and (max-width: 436px) {
        .tit {
            font-size: 1em !important;
        }
    } */
    /* @media screen and (max-width: 420px) {
        .tit {
            font-size: 1em !important;
        }
    } */