/* ::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; } */
/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {

  background-color: white !important;
} */
.MuiButtonBase-root {
  background-color: white !important;

}
.basicinfocard{
  margin: 3%;
  padding: 2%;
}
.wi {
  width: 65% !important;
}
.input {
  width: "35%";
}
.input2 {
  width: 96% !important;
}
.fl {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  width: 72% !important;
}
.f2 {
  width: 65%;
}
.pp {
  padding-left: 17%;
  padding-right: 11%;
}
.bg2 {
  background-color: beige;
}
.btn-primary {
  width: 40%;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #be1f2d !important;
  border: #be1f2d !important;
}
.btn:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: #be1f2d !important;
  border-color: #ed4f11 !important;
}
input.input {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-left: 2% !important;
}
.wiiii {
  width: 100% !important;
}
.wo {
  padding-top: 2%;
  padding-bottom: 2%;
}
.pad {
  margin-top: 8px;
  padding: 3% 10% 3% 1%;
  border-radius: 5px;
  border:  1px solid rgb(197, 197, 197) !important;
  /* height: 100px !important; */
}
.custom-control-label {
  font-weight: 400;
}
.db {
  display: flex;
  justify-content: flex-start;
  width: 25% !important;
}
.dbform1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* display:inline ; */
}
.topping {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 
  padding-left: 11%;
}
.topping1 {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
 
  /* padding-left: 11%; */
}
.pleft {
  padding-left: 10%;
}
.bdivsignup {
  width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
input#date {
    width: 100%;
    margin-top: 0.3%;
    /* appearance: none; */
    /* box-sizing: border-box; */
  border: 1px solid rgb(197, 197, 197) !important;
   /* background: transparent; */
  /*font-size: 1.5rem; */
    /*height: 67%;
    padding: 1%; */
}
.bader {
  border: 1px solid #ced4da;
  border-radius: 41px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.background{
    background-color: #000000f2;
    position: absolute;
    width: -webkit-fill-available;
    /* padding: 20px 20px 10% 20px; */
    height: 51rem;
    top: 0;
}
.ff{
    display: flex; 
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
}
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
}
/* .leftin{

} */