.wi{
    width:65% !important;
}
.input{
    width:'35%'

}
.input2{
    width: 96% !important;
}
.fl {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.f2 {
    width: 65%;
}
.pp{
    padding-left: 17%;
    padding-right: 11%;
}
.bg2{
background-color: beige;
}
.btn-primary {
    /* padding-top: 3px; */
    width: 100% !important;
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #992a35 !important;
    border: #992a35 !important;
}
.btn:hover {
    width: 100% !important;
    /* padding-top: 3px; */
    color: var(--bs-btn-hover-color) !important;
    background-color: #992a35 !important;
    /* border-color: #ed4f11 !important; */
}
input.input {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 2% !important;
}
.wiiii{
    width: 100% !important;
}
.wo{
    padding-top: 2%;
    padding-bottom: 2%;
}
.pad{
    padding-bottom: 3%;
}
/* .maindeowercontainer {
    width: 19%;
    height: 100vh;
    background-color: brown;
    position: absolute;
    transition: left 1s;
} */

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
}
.back {
    /* background-color: #c5adada3; */
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    padding-top: 8%;
}
.back2{
    /* background-color: #c5adada3; */
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
    transition: 0.5s;
}
.back2:hover {
    background-color: #c5adada3;
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.expand {
    color: #fff;
    margin-top: 16px;
    font-size: 25px;
}
.backkk{
    background-color: #bb4122;
    transition: all .3s ease-in-out;
    height: 200px;
    min-height: 200px;
    position: absolute;

}
.backkk111{

    background-color: #e22020;
    width: 200px;
    height: 165px;
    position: absolute;
    transition: all .3s ease-in-out;
  min-height: 20px;
  max-height: 200px;
  overflow: auto;

}
.back3 {
    width: 72%;
    /* background-color: #1989eb; */
    /* height: 100px;z-index: inherit; */
}
.cent2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 126px; */
   
}
.centhealth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    flex-direction: column;
    padding-top: 46%;
    transition: 0.5s ;
}
.topcrd.card {
    height: 70%;
    margin-top: 7%;
}

.ham {
    margin-left: 90%;
}
.wi55 {
    overflow-x: clip;
}

.vishpage {
    width: 22% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    /* margin-left: -8% !important; */
    height: 100vh;
}
.visittno {
    /* border: 1px solid #d3cacab8; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-right: 6%;
}
.visitt2 {
    border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.vish2P{
    width: 26% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    /* margin-left: -32%; */
    height: 100vh;
}
.visitt2but{
   
        padding-top: 10%;
        border: 1px solid #d3cacab8;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 88%;
        padding-bottom: 4%;
  
}
.bbbb {
    width: 72% !important;
}
.visit-book-btn {
    border-radius: 50px !important;
    background: #bd3434 !important;
    padding: 12px 12px !important;
}