.App {
    background-color: white;
}
.header-logo {
  width: 100%;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
margin-top: 1%;
}
.iconcolor{
 color: brown;
} 
.bdiv {
  width: 100% !important;
  justify-content: center;
  align-items: center;
  margin-top: 10% !important;
  border-radius: 50px !important;
  background: #bd3434 !important;
  padding: 12px 12px !important;
  font-weight: 700 !important;
}
.inwi{
  
  width: 100% !important;
}
.q-next-btn-div {
  width: 100%;
  max-width: 30%;
}
.mb-3 .form-control {
  border-radius: 50px;
}
.lb {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #root .ww {
    width: 96% !important;
    margin-top: 20px;
 }
}