.App {
    background-color: white;
}
.ww2{
  width: 30% !important;
  justify-content: center;
  align-items: center;
  /* margin: 3%; */
  border: none !important;

  /* padding: 2%; */ 
  /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);  */
}
.ww2:hover{
  width: 30% !important;
  /* margin: 3%; */
  border: none !important;

  /* padding: 2%; */
  /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
}
.ww3{
  width: 20% !important;
  /* margin: 0.2%; */
  border: none !important;
  /* padding: 2%; */
  background-color: brown;
  /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
/* -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
}
.ww3:hover{
  width: 20% !important;
  /* margin: 0.2%; */
  border: none !important;

  /* padding: 2%; */
  background-color: brown;
  /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
}
/* .ww:hover{
  background-color: rgb(228, 57, 57);
} */
.iconcolor{
 color: brown;
} 
.of{
  overflow-x: clip !important;
}
.nice-dates-navigation, .nice-dates-day {
  color: rgb(248, 6, 6);
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid rgb(224, 4, 4);
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}
.divvbut {
  width: 17%;
  margin: 0.2%;
}
.marigtop{
  margin-top: 10% !important;
}
.bookseebuttdiv{
  margin-bottom: 1%;
  width: 20%;
  
}
@media only screen and (max-width: 858px){
  .bookseebuttdiv{
    margin-bottom: 1%;
    width: 50%;
    
  }
}