button.logbutt {
    width: 13% !important;
    margin: 6px !important;
}
.proname{
    padding-top: 2%;
    padding-right: 2%;
    font-family: sans-serif;
    font-weight: bold;
}
.me-auto.navbar-nav {
    margin-left: 87px !important;
}