.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.iconcolor{
 color: brown;
} 
.of{
  overflow-x: clip !important;
}
.paybutt {
  background-color: #c02230;
  width: 20%;
  color: white;
  border: none;
  border: none !important;
  margin: 0.4%;
  height: 41px;
  border-radius: 2%;
}
.paybutt:hover {
  background-color: #e75662;
  width: 20%;
  color: white;
  border: none;
  border: none !important;
  margin: 0.4%;
  height: 41px;
  border-radius: 2%;
}
