.App {
  background-color: white;
}
.wwtrai {
  width: 54% !important;
  background-color: "#fff";
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.45);
}
/* .ww:hover{
  background-color: rgb(228, 57, 57);
} */
.iconcolor {
  color: brown;
}
.of {
  overflow-x: clip !important;
}
.img22 {
  width: 25%;
  height: 90%;
}
.trwi {
}
.top {
  margin-top: 5%;
}
.brder {
  border: 1px solid;
  width: 26%;
  justify-content: center;
  align-items: center;
  padding-left: 6%;
  padding-top: 2%;
}
.fle {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.padingtrainer {
  padding-left: 3%;
}
.checkAvailblity {
  background-color: #bf1f2e;
  border: none;
  /* padding: 1%; */
  border-radius: 8px;
  text-transform: capitalize;
  color: white;
  width: 30% !important;
  height: 10% !important;
}
.checkAvailblity:hover {
  background-color: #bf1f2e;
  border: none;
  /* padding: 1%; */
  border-radius: 8px;
  text-transform: capitalize;
  width: 30% !important;
  height: 10% !important;
  color: white;
}
