.box1{
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}
.boxaddneww{
    /* width: 50%; */
    width: 100%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
.bwidth{
    width: 30%;
}
.recoverbutt{
    border: none;
    margin-top: 2%;
    padding: 2%;
    /* border-radius: 14px; */
    background-color: #be1d2c;
    color: white;
    font-weight: bold;
}
.inputwidth {
    width: 55%;
    /* padding: 2%; */
}
.newpassbuttsub {
 margin-top: 1%; 
    background-color: #bf1e2d;
    border: none;
    color: white;
    text-transform: capitalize;
}
.newpassbuttsub:hover {
    margin-top: 1%; 
    background-color: #bf1e2d;
    /* background-color: #e0858e; */
    border: none;
    color: white;
    text-transform: capitalize;
}