.App {
    background-color: white;
  }

  .signin-logo {
    width: 100%;
 }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 20px 20px 10% 20px; */
  }
  
  .Auth-form {
    width: 100%;
    max-width: 520px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: clamp(22px, calc(1.375rem + ((1vw - 3.2px) * 0.125)), 24px);
    color: rgb(34, 34, 34);
    font-weight: 700;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .cen{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .well{
    font-size: clamp(40px, calc(2.5rem + ((1vw - 3.2px) * 0.25)), 44px);
    font-weight: 600;
    color: #BE1D2D;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .signin-submit-btn {
    border-radius: 50px !important;
    background: #bd3434 !important;
    padding: 12px 12px !important;
}
.signuponsingin{
text-decoration: none;
color: #BE1D2D;
margin-left: 6px;
}
.signuponsingin:hover{
  text-decoration: none;
  color: #BE1D2D;
  margin-left: 6px;
  }
@media screen and (max-width: 991px) {
  .Auth-form-content {
    padding-left: 5%;
    padding-right: 5%;
}
}