.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.iconcolor{
 color: #be1f2d;
}
.paytext1{
  width: 100%;
  max-width: 309px;
  /* color: white;
  border: none;
  border: none !important;
  margin: 0.4%;
  height: 38px;
  /* border-radius: 7px !important; 
  background-color: #be1f2d !important;
  padding: 0px 12px !important; */

} 
.of{
  overflow-x: clip !important;
}
.paybutt1 {
     /* background-color: #c02230; */
     width: 100%;
     max-width: 309px;
     color: white;
     border: none;
     border: none !important;
     margin: 0.4%;
     height: 38px;
     /* border-radius: 7px !important; */
     background-color: #be1f2d !important;
     padding: 0px 12px !important;
     border-radius: 5px;
}
.paybutt11 {
  /* background-color: #c02230; */
  width: 100%;
  max-width: 400px;
  color: white;
  border: none;
  border: none !important;
  margin: 0.4%;
  height: 55px;
  border-radius: 7px !important;
    /* background: #bd3434 !important; */
    padding: 0px 12px !important;
}
.paybutt1:hover {
  background-color: #be1f2d;
}
.paybutt12{
  width: 44%;
  max-width: 318px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  /* border-radius: 10px; */
  background-color: white;
  border: none;
}
.cost {
  margin: 4%;
  font-family: sans-serif;
  font-weight: bold;
}

.payment-btns {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
} 
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
  .mobilediv{
      padding-top:80px
  }
  .center-screen {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}