.wi{
    width:65% !important;
}
.input{
    width:'35%'

}
.input2{
    width: 96% !important;
}
.fl {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.f2 {
    width: 65%;
}
.pp{
    padding-left: 17%;
    padding-right: 11%;
}
.bg2{
background-color: beige;
}
/* .btn-primary {
   
    --bs-btn-color: #fff !important;
    background-color: #a52a2a !important;
    border: #992a35 !important;
}
.btn:hover {
  
    color: var(--bs-btn-hover-color) !important;
    background-color: #992a35 !important;
    border-color: #ed4f11 !important;
} */
input.input {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 2% !important;
}
.wiiii{
    width: 100% !important;
}
.wo{
    padding-top: 2%;
    padding-bottom: 2%;
}
.pad{
    padding-bottom: 3%;
}
.maindeowercontainer {
    width: 19%;
    height: 100vh;
    background-color: brown;
    position: absolute;
    transition: left 1s;
}
.maindeowercontainer2 {
    width: 19%;
    height: 100vh;
    background-color: brown;
    position: absolute;
    left: -232px;
    transition: left 2s ;
}
.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
}
.back {
    background-color: #c5adada3;
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    padding-top: 8%;
}
.back2{
    /* background-color: #c5adada3; */
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
    transition: 0.5s;
}
.back2:hover {
    background-color: #c5adada3;
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.expand {
    color: #fff;
    margin-top: 16px;
    font-size: 25px;
}
.backkk{
    background-color: #bb4122;
    transition: all .3s ease-in-out;
    height: 200px;
    min-height: 200px;
    position: absolute;

}
.backkk111{

    background-color: #e22020;
    width: 200px;
    height: 165px;
    position: absolute;
    transition: all .3s ease-in-out;
  min-height: 20px;
  max-height: 200px;
  overflow: auto;

}
.back3 {
    width: 72%;
    /* background-color: #1989eb; */
    /* height: 100px;z-index: inherit; */
}
.cent2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 126px; */
   
}
.centhealth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    flex-direction: column;
    padding-top: 46%;
    transition: 0.5s ;
}
.topcrd.card {
    margin-top: 7%;
}

.ham {
    margin-left: 90%;
}
.wi55 {
    overflow-x: clip;
}

.vishpagechat {
    width: 100% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: 20% !important;
    height: 100vh;
}
.vish2Pchat{
    width: 100% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -32% !important;
    height: 100vh;
}





.vishpage {
    width: 26% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -9%;
    height: 100vh;
}
.visitt {
    border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visittmess {
height: 16.4%;
}
.visitt2 {
    /* border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; */
}
.vish2P{
    width: 26% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -32%;
    height: 100vh;
}
.visitt2but{
   
        padding-top: 10%;
        border: 1px solid #d3cacab8;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 88%;
        padding-bottom: 4%;
  
}
.visitt2butmess{
margin-top: 17.5rem  !IMPORTANT;
    border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* margin-top: 88%; */
    padding-bottom: 8%;
    padding-top: 19px;
}
.bbbb {
    width: 72% !important;
}
.visit-book-btn {
    border-radius: 50px !important;
    background: #bd3434 !important;
    padding: 12px 12px !important;
}
.chatdivmain {
    /* background-color: antiquewhite; */
    margin-left: 0px;
    width: 78rem;
    height: 100vh;
}
.inputdivmessage {
    display: flex;
    position: relative;
    /* top: 0.5rem; */
    width: 99%;
    height: 12%;
}
.messinput {
       /* margin-top: 20.7rem !important; */
       width: 87% !important;
       border: none !important;
       position: relative;
       /* border: 1px solid black; */
       padding-left: 1%;
       left: 3.5%;
       height: 66px !important;
       /* border-radius: 53px; */
       top: 5px;
       box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
.messinput1 {
    /* margin-top: 20.7rem !important; */
    width: 90% !important;
    border: none !important;
    border-width: 0;
    position: relative;
    /* border: 1px solid black; */
    /* padding-left: 1%; */
    /* left: 3.5%; */
    /* height: 66px !important; */
    /* border-radius: 53px; */
    top: 12px;
    /* box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%); */
    /* -webkit-box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%); */
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
.messinput1:focus-visible {
    width: 100%;
    border: none !important;
}
.messinput:focus-visible {
    width: 100%;
    border: none !important;

}
.messinput1:focus{
    /* background-color: #bb4122; */
    outline: none;
    padding-left: 20px;
}

.sendbutton {
    font-weight: bold;
    top: 5px !important;
    position: relative !important;
    left: 3px !important;
}
.sendbuttondiv {
    background-color: #bd3434;
    position: relative;
    top: 0.5rem;
    width: 59px;
    height: 55px;
    left: 44px;
    /* display: flex; */
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 47px;
}
.textbox {
    height: 34.2rem;
    /* padding-left: 4%; */
    padding: 2%;
    /* border: 1px solid; */
    /* width: 53.4rem; */
    position: relative;
    left: 3.4%;
    overflow-y: scroll;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
.chbox {
    width: 50%;
    background-color: white;
    height: 13%;
    display: flex;
    /* align-items: center; */
    /* border: 1px solid; */
    border-radius: 18px;
    padding: 1%;
    margin: 15px;
    flex-direction: column;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}