.chatdiv{
    /* border:solid purple; */
    position: fixed;
    top: 90px;
    bottom:0px;
    right: 0px;
    left: 0px;
    /* z-index: -10000; */
}
.typebox{
    position:absolute;
    bottom:12px
}
@media only screen and (min-width: 500px){
    .typebox{
        width: 100%;
    }
}
@media only screen and (max-width: 500px){
    .typebox{
        width: 90%;
    }
}
@media only screen and (max-width: 1200px){
    .typebox{
        padding-left: 12px;
    }
}
.chatcol{
    /* border: solid yellowgreen; */
    /* margin: auto;
    width: 50%; */
}
.inbox{
    padding: 1%;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
    position:absolute;
    top:0px;
    bottom: 12px;
    /* right:50px;
    left:50px */
}
@media only screen and (min-width: 1450px){
    .inbox{
        right:300px;
        left:300px
    }
}
@media only screen and (max-width: 1450px){
    .inbox{
        right:50px;
        left:50px
    }
}
@media only screen and (max-width: 700px){
    .inbox{
        right:20px;
        left:20px
    }
}

@media only screen and (min-width: 991px){
    .navshow{
        display:block;
    }
    .sidenavshow{
        display:none;
    }
}
@media only screen and (max-width: 991px){
    .navshow{
        display:none;
    }
    .sidenavshow{
        display:block;
    }
}
.main{
    position: fixed;
    bottom: 0;
    border: solid;
    width: 100%;
}
.wi{
    width:65% !important;
}
.input{
    width:35%

}
.input2{
    width: 96% !important;
}
.fl {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.f2 {
    width: 65%;
}
.pp{
    padding-left: 17%;
    padding-right: 11%;
}
.bg2{
background-color: beige;
}
/* .btn-primary {
   
    --bs-btn-color: #fff !important;
    background-color: #a52a2a !important;
    border: #992a35 !important;
}
.btn:hover {
  
    color: var(--bs-btn-hover-color) !important;
    background-color: #992a35 !important;
    border-color: #ed4f11 !important;
} */
input.input {
    /* padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 2% !important; */
}
.wiiii{
    width: 100% !important;
}
.wo{
    padding-top: 2%;
    padding-bottom: 2%;
}
.pad{
    padding-bottom: 3%;
}
/* .maindeowercontainer {
    width: 19%;
    height: 100vh;
    background-color: brown;
    position: absolute;
    transition: left 1s;
}
.maindeowercontainer2 {
    width: 19%;
    height: 100vh;
    background-color: brown;
    position: absolute;
    left: -232px;
    transition: left 2s ;
} */
.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
}
.back {
    /* background-color: #c5adada3; */
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.tit {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    padding-top: 8%;
}
.back2{
    /* background-color: #c5adada3; */
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
    transition: 0.5s;
}
.back2:hover {
    background-color: #c5adada3;
    width: 81%;
    height: 45%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
    padding-right: 5%;
}
.expand {
    color: #fff;
    margin-top: 16px;
    font-size: 25px;
}
.backkk{
    background-color: #be1f2d;
    transition: all .3s ease-in-out;
    height: 200px;
    min-height: 200px;
    position: absolute;

}
.backkk111{

    background-color: #be1f2d;
    width: 200px;
    height: 165px;
    position: absolute;
    transition: all .3s ease-in-out;
  min-height: 20px;
  max-height: 200px;
  overflow: auto;

}
.back3 {
    width: 72%;
    /* background-color: #1989eb; */
    /* height: 100px;z-index: inherit; */
}
.cent2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 126px; */
   
}
.centhealth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    flex-direction: column;
    padding-top: 46%;
    transition: 0.5s ;
}
.topcrd.card {
    margin-top: 7%;
}

.ham {
    margin-left: 90%;
}
.wi55 {
    overflow-x: clip;
}

.vishpagechat {
    width: 100% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: 20% !important;
    height: 100vh;
}
.vish2Pchat{
    width: 100% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -32% !important;
    height: 100vh;
}





.vishpage {
    width: 26% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -9%;
    height: 100vh;
}
.visitt {
    border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visittmess {
height: 16.4%;
}
.visitt2 {
    /* border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; */
}
.vish2P{
    width: 26% !important;
    background-color: #dee2e6;
    border: 1px solid #d9caca;
    margin-left: -32%;
    height: 100vh;
}
.visitt2but{
   
        padding-top: 10%;
        border: 1px solid #d3cacab8;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 88%;
        padding-bottom: 4%;
  
}
.visitt2butmess{
margin-top: 17.5rem  !IMPORTANT;
    border: 1px solid #d3cacab8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* margin-top: 88%; */
    padding-bottom: 8%;
    padding-top: 19px;
}
.bbbb {
    width: 72% !important;
}
.visit-book-btn {
    border-radius: 50px !important;
    background: #be1f2d !important;
    padding: 12px 12px !important;
}
.chatdivmain {
    /* background-color: antiquewhite; */
    margin-left: 0px;
    width: 83rem;
    margin-top: 8px;
    /* height: 100vh; */
}
@media only screen and (max-width: 1851px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        
        width: 78rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 1742px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        
        width: 70rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 1556px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        
        width: 64rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 1429px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        
        width: 57rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width:1273px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        
        width: 51rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 1138px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 44rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 993px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 38rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 981px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 29rem;
        margin-top: 8px;
    }
    
}
@media only screen and (max-width: 739px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 25rem;
        margin-top: 8px;
        margin-left: -50px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 579px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 22rem;
        margin-top: 8px;
      
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 502px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 21rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 486px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 20rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
}
@media only screen and (max-width: 438px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 19rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
   
}
@media only screen and (max-width: 403px) {
    .chatdivmain {
        /* background-color: antiquewhite; */
        width: 17.5rem;
        margin-top: 8px;
        /* height: 100vh; */
    }
    
}
/* .chbox { */
    /* width: 50%;
 /* width: 435px; */
 /* .sendbuttondiv {
    background-color: #bd3434;
    position: relative;
    top: 0.5rem;
    width: 36px;
    height: 39px;
    left: 44px;
 } */
.inputdivmessage {
    display: flex;
    position: relative;
    /* top: 0.5rem; */
    width: 99%;
    height: 12%;
}
.messinput {
       /* margin-top: 20.7rem !important; */
       width: 100% !important;
       border: none !important;
       position: absolute;
       bottom: 0;
       /* border: 1px solid black; */
       /* padding-left: 1%; */
    margin-left: 3.3%;
       /* left: 3.5%; */
       height: 87px !important;
       /* border-radius: 53px; */
       /* top: 5px; */
       box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
.messinput1 {
    /* margin-top: 20.7rem !important; */
    width: 90% !important;
    border: none !important;
    border-width: 0;
    position: relative;
    /* border: 1px solid black; */
    /* padding-left: 1%; */
    /* left: 3.5%; */
    /* height: 66px !important; */
    /* border-radius: 53px; */
    top: 12px;
    /* box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%); */
    /* -webkit-box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%); */
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
@media only screen and (max-width: 987px) {
    
.messinput1 {
    /* margin-top: 20.7rem !important; */
    width: 88% !important;
        }
}
@media only screen and (max-width: 744px) {
    .messinput1 {
        /* margin-top: 20.7rem !important; */
        width: 82% !important;
            }
}
@media only screen and (max-width: 979px) {
    .messinput1 {
        /* margin-top: 20.7rem !important; */
        width: 82% !important;
            }
}

.messinput1:focus-visible {
    width: 100%;
    border: none !important;
}
.messinput:focus-visible {
    width: 100%;
    border: none !important;

}
.messinput1:focus{
    /* background-color: #bb4122; */
    outline: none;
    padding-left: 20px;
}

.sendbutton {
    font-weight: bold;
    top: 5px !important;
    position: relative !important;
    left: 3px !important;
}
.sendbuttondiv {
    background-color: #be1f2d;
    position: absolute;
    top: 0;
    border:solid;
    /* width: 50%;
    height: 145%; */
    left: 0px;
    /* display: flex; */
    /* border: none; */
    justify-content: center;
    /* align-items: center; */
    color: black;
    border-radius: 47px;
}
/* @media only screen and (max-width: 1566px) {
    .sendbuttondiv{
    left: 32px;

    }
}
@media only screen and (max-width: 1406px) {
    .sendbuttondiv{
    left: 28px;
    }
}
@media only screen and (max-width: 1366px) {
    .messinput {
        height: 140px !important;
      }
}
@media only screen and (max-width: 1301px) {
    .sendbuttondiv{
    left: 19px;
    }
}
@media only screen and (max-width: 1119px) {
    .sendbuttondiv{
        left: 5px;
        }
}
@media only screen and (max-width: 744px) {
    .sendbuttondiv{
        width: 49px;
        height: 45px;
        }
} */
.textbox {
    height: 800px;
    margin-left: 0.2%;
    /* padding-left: 4%; */
    padding: 2%;
    /* border: 1px solid; */
    /* width: 53.4rem; */
    position: relative;
    /* bottom: 0; */
    /* left: 3.4%; */
    overflow-y: scroll;
    /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !; */
}
.msgi{
    /* width: 70%; */
    height: 100%;
    border: unset;
    margin-left: 0.4%;
}
/* .msgi:focus{
    border: white !important;
} */

.textbox2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 4%; */
    padding: 2%;
    /* border: 1px solid; */
    /* width: 53.4rem; */
    position: relative;
    /* left: 3.4%; */
    /* overflow-y: scroll; */
    /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !; */
}
.chbox {
    width: 60%;
    background-color: white;
    height: 13%;
    display: flex;
    overflow-wrap:break-word;
    /* align-items: center; */
    /* border: 1px solid; */
    border-radius: 18px;
    padding: 1% 1% 1% 3%;
    margin: 15px;
    flex-direction: column;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45) !;
}
@media only screen and (max-width: 987px) {
    .chbox {
        width: 90%;
        padding-left: 3%;

    }
}
/* @media only screen and (max-width: 502px) {
    .messinput1 {
        /* margin-top: 20.7rem !important; 
        width: 79% !important;
            }
    .chbox {
    width: 89%;
            }
}
@media only screen and (max-width: 440px) {
    .messinput {
        /* margin-top: 20.7rem !important; 
        width: 96% !important;
            }
    .chbox {
        width: 80%;
                }
}
@media only screen and (max-width: 403px) {
    .messinput {
        /* margin-top: 20.7rem !important; 
        width: 90% !important;
            }
    .chbox {
        width: 75%;
                }
            }
@media only screen and (max-width: 438px) {
            .chbox {
               width: 70%;
             }
                
            }
@media only screen and (max-width: 403px) {
    .messinput {
        /* margin-top: 20.7rem !important; 
        width: 93% !important;
            }
    .chbox {
        width: 80%;
      }
    }
@media only screen and (max-width: 368px) {
        .messinput {
            /* margin-top: 20.7rem !important;
            width: 98% !important;
                }
        .chbox {
            width: 76%;
          }
        .chatdivmain {
            /* background-color: antiquewhite; 
            width: 15rem;
            margin-top: 8px;
            /* height: 100vh; 
        }
        /* .sendbuttondiv{
            width: 40px;
            height: 39px;
            }
 } */
