.App {
    background-color: white;
}

.wwtrailist{
  width: 100%!important;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  padding: 2%;
  /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
margin-top: 2% !important;
cursor: pointer;

}
/* .wwtrailist:hover{
  width: 54% !important;
  background-color: rgb(241, 192, 192);
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
margin-top: 2% !important;
} */
/* .ww:hover{
  background-color: rgb(228, 57, 57);
} */
.iconcolor{
 color: #be1f2d;
} 
.of{
  overflow-x: clip !important;
}
.imgtrainerlist{
  width: 100rem !important;
  height: 90%;
  border: solid;
}
.top{
  margin-top: 5%;
}
.brder {
  border: 1px solid;
  width: 29%;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-top: 2%;
}
.fle{
display: flex;
justify-content: space-between;
    width: 90%;
}
.padingtrainer {
  /* padding-left: 3%; */
}
.checkAvailblity {
  background-color: #be1f2d;
  border: none;
  /* padding: 1%; */
  border-radius: 8px;
  text-transform: capitalize;

}
.checkAvailblity:hover {
  background-color: #e96d79;
  border: none;
  /* padding: 1%; */
  border-radius: 8px;
  text-transform: capitalize;
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
}
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
  .mobilediv{
      padding-top:80px
  }
  
}
