.App {
    background-color: white;
}

.wwtrailist{
  width: 54% !important;
  background-color: rgb(243, 243, 243);
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
margin-top: 2% !important;

}
.wwtrailist:hover{
  width: 54% !important;
  background-color: rgb(241, 192, 192);
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
margin-top: 2% !important;
}
/* .ww:hover{
  background-color: rgb(228, 57, 57);
} */
.iconcolor{
 color: brown;
} 
.of{
  overflow-x: clip !important;
}
.imgtrainerlist{
  width: 70%;
  height: 90%;
  
}
.trwi{

}
.top{
  margin-top: 5%;
}
.brder {
  border: 1px solid;
  width: 26%;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-top: 2%;
}
.fle{
display: flex;
justify-content: space-between;
    width: 90%;
}
.padingtrainer {
  padding-left: 3%;
}
.checkAvailblity {
  background-color: #bf1f2e;
  border: none;
  padding: 1%;
  border-radius: 8px;
  text-transform: capitalize;

}
.checkAvailblity:hover {
  background-color: #e96d79;
  border: none;
  padding: 1%;
  border-radius: 8px;
  text-transform: capitalize;
}

