.verifycard{
    margin-top: 25%;
    padding: 4% 4% 8% 4%;
}
.box1{
    border-bottom: none !important;
    width: 100% !important;
    margin-top: 2%;
    margin-left: 0% !important;
    text-align: center;
}
.box2{
    /* border-bottom: 1px solid black; */
    width: 100%;
    margin-left: 0 !important;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recoverbutt{
    width:20px;
    border: none;
    margin-top: 2%;
    /* border-radius: 50px !important; */
    background: #be1f2d !important;
    padding: 12px 40px !important;
    color: white;
    font-weight: bold;
    height: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.recoverbutt:hover{
    width:20px;
    border: none;
    margin-top: 2%;
    /* border-radius: 50px !important; */
    background: #be1f2d !important;
    padding: 12px 40px !important;
    color: white;
    height: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}
.forgetinput1 {
    width: 10% !important;
    padding: 1% !important;
}
.recoverdiv{ 
    width: 250px !important;
    /* height: 10% !important; */
margin-top: 3%;
}

/* @media screen and (max-width: 767px) {
    .forgetinput1 {
        /* width: 98% !important; 
    }
    /* .box1 {
        margin-top: 8% !important;
        margin-bottom: 6%;
    } 
} */
@media screen and (max-width: 600px) {
    .center-screen {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
      .recoverdiv{ 
        margin-top: 12%;
    }
}
@media only screen and (min-width: 991px){
    .navshow{
        display:block;
    }
    .sidenavshow{
        display:none;
    }
  }
  @media only screen and (max-width: 991px){
    .navshow{
        display:none;
    }
    .sidenavshow{
        display:block;
    }
  }