@media only screen and (min-width: 991px){
    .navshow{
        display:block;
    }
    .sidenavshow{
        display:none;
    }
  }
  .mobiledivtr{
   
    padding-top:80px
  }
  @media only screen and (max-width: 991px){
    .navshow{
        display:none;
    }
    .sidenavshow{
        display:block;
    }
    .mobiledivtr{
        padding-top:180px
    }
    .center-small-screen{
        /* position: absolute;*/
        /* margin-top: 40px; */
        /*left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); */
      }
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    background-color: white !important;
  }
  .MuiInputBase-root{
    background-color: white !important;

  }