#root {
    background-color: white !important;
  }
.box1{
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}
.button-w{
    width: 100%;
    margin: 3%;
    padding: 3%;
}
.nice-dates-navigation, .nice-dates-day {
    color: #be1f2d;
    background-color: white !important;
}
.nice-dates-week-header{
    background-color: white !important;
}
.boxadd{
    /* width: 50%; */
    width: 100%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.recoverbutt{
    border: none;
    margin-top: 2%;
    padding: 2%;
    border-radius: 14px;
    background-color: #be1f2d;
    color: white;
    font-weight: bold;
}
.forgetinput {
    width: 55%;
    padding: 2%;
}
.newpassbutt {
    width: 22%;
    background-color: #be1f2d;
    border: none;
    color: white;
    text-transform: capitalize;
    padding: 1%;
}
.newpassbutt:hover {
    width: 22%;
    background-color: #e0858e;
    border: none;
    color: white;
    text-transform: capitalize;
    padding: 1%;
}
.classextbutton{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}
.calender{
    width: 100%;
    align-items: center;
}
@media only screen and (min-width: 991px){
    .navshow{
        display:block;
    }
    .sidenavshow{
        display:none;
    }
  }
  @media only screen and (max-width: 991px){
    .navshow{
        display:none;
    }
    .sidenavshow{
        display:block;
    }
    .mobilediv{
        padding-top:80px
    }
    
  }


