.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
margin-top: 1%;
}
.iconcolor{
 color: brown;
} 
.bdiv {
  width: 100% !important;
  justify-content: center;
  align-items: center;
  margin-top: 34%;
}

.d {
  display: flex;
  justify-content: flex-start;
  width: 12% !important;
}
.topping {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 11%;
}