.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.iconcolor{
 color: #be1f2d;
} 
.of{
  overflow-x: clip !important;
}
.vt-logo {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .of .ww {
    width: 96% !important;
    margin-top: 20px;
 }
}
.colorrating{
  color: #be1f2d;
}
.colorrating:hover{
  color: rgb(185, 162, 162);
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
}
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
  .mobilediv{
      padding-top:80px
  }
  
}