body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
   box-sizing: border-box; 
  padding: 0!important;
  margin: 0 !important;
}
/* #root {
  height: 100vh;
} */
.MuiGrid-spacing-xs-2 {
  background-color: #be1f2d !important;
  display: flex;
  justify-content: space-evenly;
  width: 100% !important;
  padding: 0.7% !important;
}
.MuiButton-contained{
  padding: 12% !important;
}
/* .MuiButton-containedSuccess{
background-color: blueviolet !important;
color: blueviolet !important;
} */

/* .MuiGrid-root MuiGrid-container {
  height: 96%;
} */
/* .grid2{
  left: 374px !important;

} */