.cuoponcard{
  margin-top: 9%;
     padding: 4% 4% 8% 4%;
 }
.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.iconcolor{
 color: #be1f2d;
} 
.of{
  overflow-x: clip !important;
}
.in {
  width: 50%;
  border:none;
  border-bottom: 1px solid;
}
.in:focus-visible {
  outline: 0px solid #be1f2d;
  border-bottom: 1px solid;
/* border:none; */

}
.indi {
  padding: 2%;
}
.CAP{
text-transform: capitalize;
}
.coupon-col{
  margin-top: 20px !important;
}
.coupon-submit {
  width: 250px !important;
  border-radius: 5px !important;
  background: #be1f2d !important;
  /* padding: 12px 12px !important; */
  /* align-self: center;
  text-align: center;
  margin: 0 auto; */
}
.cuoponinput{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;

  /* border:solid */
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
}
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
  .mobilediv{
      padding-top:80px
  }
}