.sidenav{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.navlink{
    font-size: 18px;
    color: black !important;
    text-decoration: none;
}
.navlink:hover{
    color:#c02130 !important;
    text-decoration: none !important;
}