.App {
    background-color: white;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.iconcolor{
 color: brown;
} 
.of{
  overflow-x: clip !important;
}
.reviewbutton {
  width: 100% !important;
  margin-top: 15%  !important;
  /* border-radius: 50px !important; */
  background: #bd3434 !important;
  padding: 12px 60px !important;
}
.vt-logo {
  width: 50% !important;
}
.basicbuttdiv {
  /* width: 50%*/
}
.editinfo {
  width: 100% !important;
  margin-top: 15%  !important;
  /* border-radius: 50px !important; */
  /* background: #bd3434 !important; */
  background: "maroon" !important;
  padding: 7px 9px !important;
  border-radius: 7%!important;
}