*{
  margin: 0;
  padding: 0;
  /* height: 100%;   */
}
* div{
  background-color: #be1f2d !important;
  
}
.maincontainer{
  background-color: white !important;
}
#root{
  background-color: white !important;

}
._3Sxu7{
  background-color: white !important;

}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem rgb(189 80 90 / 55%) !important; */
}
/* #agora-video-player-track-cam-11870bf6{
  position: absolute !important;
} */