body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-logo {
  width: 50% !important;
}
.main-logo {
  width: 50% !important;
}
#root {
  height: 100vh;
}
.btn {
  /* color: var(--bs-btn-hover-color) !important; */
  background-color: #992a35 !important;
}
.btn:hover {
  /* color: var(--bs-btn-hover-color) !important; */
  background-color: #992a35 !important;
}
