.App {
    background-color: white;
}

.button-w{
  width: 100%;
  margin: 3%;
  padding: 3%;
}
.ww{
  width: 54% !important;
  background-color: white;
  padding: 2%;
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.calbox {
  width: 15%;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  display: flex;
  margin:1%;
  color: rgb(0, 0, 0);
}
.calbox:hover {
  width: 15%;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: brown; */
  color: #be1f2d;
  cursor: pointer;
}
.slotbox {
  width: 15%;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: brown; */
  color: rgb(0, 0, 0);
}
  

.slotbox:hover {
  width: 15%;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: brown; */
  color: #be1f2d;
  cursor: pointer;
}
.iconcolor{
 color: #be1f2d;
} 
.of{
  overflow-x: clip !important;
}
.caltext {
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 5%;
}
.slotdiv {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  /* padding-left: 1%; */
  padding-top: 4%;
}

.slotdiv1 {
  width: auto;
  /* border: 1px solid; */
  /* margin-top: 5%; */
  display: flex;
  align-items: center;
  padding-left: 1%;
  padding-top: 1%;
}

.timeslot{
  font-family: sans-serif;
  font-weight: bolder;
}
.newpassbutt:hover {
  width: 22%;
  background-color: #e0858e;
  border: none;
  color: white;
  text-transform: capitalize;
}
.classextbutton{
  margin-top: 3% !important;
  display: flex;
  justify-content: center;
}
.classextbutton:hover{
  background-color: '#bd3434'!important;
}
.classextbuttonsl{
  margin-top: 3% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
@media only screen and (min-width: 991px){
  .navshow{
      display:block;
  }
  .sidenavshow{
      display:none;
  }
}
@media only screen and (max-width: 991px){
  .navshow{
      display:none;
  }
  .sidenavshow{
      display:block;
  }
  .mobilediv{
      padding-top:80px
  }
}