.inputdiv {
    display: flex;
    border-bottom: 1px black solid;
    padding-top: 3%;
    padding-bottom: 3%;
}
.box{
    padding:'20px';
    box-shadow: 0px -4px 30px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -4px 30px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 30px -8px rgba(0,0,0,0.75);
}
.emaildiv {
    width: 15%;
    margin-left: 3%;
}
input#pass {
    width: 50%;
    border: none;
}
input#email {
    width: 62%;
    border: none;
}
.inputmain {
    width: 100%;
    padding-left: 3%;
    
}
/* .grandparentdiv {
    padding: 5%;
} */
.parentdiv {
    border: 1px solid black;
    box-shadow: 0px -4px 30px -37px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -4px 30px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 30px -37px rgba(0,0,0,0.75);
}
.member{
    font-size: 14px;
    font-weight: 600;
    color: rgb(189, 52, 52);
    padding-left: 1%;
    cursor: pointer;
}
.inputmain2 {
    width: 100%;
    margin-left: -9%;
    margin-top: -6px;
}
.grandgrandparent {
    /* border: 1px solid; */
    width: 80%;
    padding: 6%;
    background-color: white;
    margin-left: 11%;
    box-shadow: 0px 0px 47px 4px rgba(0,0,0,0.43);
-webkit-box-shadow: 0px 0px 47px 4px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 47px 4px rgba(0,0,0,0.43);
}
.lastchild{
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    margin-top: 6%;
}
.bg{
    background-color: rgb(189, 52, 52);
   
    padding: 3% 0 24px 0%;
}
.bg2{
    background-color: rgb(189, 52, 52) !important;
    padding: 3%;
}
.rate{
    font-size: 40px;
    color: #eb962a;
}
.foterhead{
    color: white;

}
.imm {
    position: fixed;
    width: 57%;
    z-index: -99999;
}
.over{
    overflow-x: hidden;
}
.signbb{
width:30%
}
.signup-create-btn {
    border-radius: 50px !important;
    background: #bd3434 !important;
    padding: 12px 12px !important;
 }
 .signup-already-member-text {
    margin-bottom: 0;
 }
 .signuponsingin{
    text-decoration: none;
    color: #BE1D2D;
    }
    .signuponsingin:hover{
      text-decoration: none;
      color: #BE1D2D;
      }

@media screen and (max-width: 991px) {
    .imm {
       position: inherit;
       width: 100%;
    }
    }

@media screen and (max-width: 767px) {
    .grandgrandparent {
        width: 95%;
        margin: 0 auto !important;
        padding: 4%;
     }
     .emaildiv {
        width: 20%;
     }
}

@media screen and (max-width: 480px) {
    .signup-create-btn {
        margin-bottom: 10px;
        width: 70% !important;
      }
      .lastchild {
        flex-direction: column;
      }
}