.box1{
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}
.boxadd{
    /* width: 50%; */
    width: 100%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.recoverbutt{
    border: none;
    margin-top: 2%;
    padding: 2%;
    border-radius: 14px;
    background-color: #be1f2d;
    color: white;
    font-weight: bold;
}
.forgetinput {
    width: 55%;
    padding: 2%;
}
.nextbut {
    width: 22%;
    background-color: #be1f2d;
    border: none;
    color: white;
    text-transform: capitalize;
}
.nextbut:hover {
    width: 22%;
    background-color: #e0858e;
    border: none;
    color: white;
    text-transform: capitalize;
}
.selectdate{
    width: 51%;
    align-items: center;
}
.mainboxrr{
    background-color: white;
    padding: 2%;
    /* box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45); */
}
.innerre{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texButrr {
    font-size: 25px;
    font-weight: bold;
    background-color: #be1f2d;
    padding: 2%;
    box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%);
    -webkit-box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 45%);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
    cursor: pointer;
}
.texButrr:hover{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
    padding: 2%;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.45);
}
.inner2 {
    display: flex;
    /* background-color: #bf1e2d; */
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}
.tex2{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.nextbuttonclass{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 3%;
}